<div class="formulario_container">
  <body>
    <div class="header__logo">
      <img src="../assets/img/Logo.png" alt="Logo de Safe Place" routerLink="">
    </div>
  <div class = "Formulario">
      <h1> INICIO DE SESION </h1>
      <form method="post">
          <div class="username">
              <input type="text" required>
              <label> Nombre de Usuario </label>
          </div>
          <div class="contraseña">
              <input type="password" required>
              <label> Contraseña </label>
          </div >
          <div class="recordar">¿Olvido su  contraseña?</div>
          <input type="submit" value="Iniciar Sesion">
          <div class="registrarse">
              ¿No tienes cuenta? <a routerLink="/registro">Registro</a>
          </div>

      </form>

  </div>

</body>
</div>
