<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>
<body>

    <form>

            <h2> Publicar </h2>

            <div class="input-group">

                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" placeholder="Nombre">
                <br><br>


                <label for="ubication">Ubicacion</label>
                <input type="text" name="ubication" id="ubication" placeholder="Ubicacion">

                <br><br>
                <label for="description">Descripcion</label>
                <textarea name="description" id="description" cols="30" rows="5" placeholder="Descripcion"></textarea>
                <br><br>
                <label for="capacity">Capacidad</label>
                <input type="number" name="num" placeholder="Capacidad">
                <br><br>
                <label for="price">Precio</label>
                <input type="text" name="price" id="price" placeholder="precio">

                 <input class="btn-a" type="button" value="INGRESAR LOCAL">

        </div>

    </form>
</body>
</html>
