<div class="formulario_container">
  <body>
    <div class="header__logo">
      <img src="../assets/img/Logo.png" alt="Logo de Safe Place" routerLink="">
    </div>
    <div class = "Formulario">
      <h1> REGISTRATE LOCAL</h1>
      <form [formGroup]="LocalForm">
        <div class="username">
          <input type="text" required formControlName="name">
          <div *ngIf="LocalForm.get('name')?.hasError('required') && LocalForm.get('name')?.touched">
            <span style="color: red">Este campo es obligatorio</span>
        </div>
          <label> Nombre </label>
        </div>

        <div class="username">
            <input type="text" required formControlName="ubication">
            <div *ngIf="LocalForm.get('ubication')?.hasError('required') && LocalForm.get('ubication')?.touched">
              <span style="color: red">Este campo es obligatorio</span>
          </div>
            <label> Ubication </label>
        </div>

        <div class="username">
            <input type="text" required formControlName="image">
            <div *ngIf="LocalForm.get('image')?.hasError('required') && LocalForm.get('email')?.touched">
              <span style="color: red">Este campo es obligatorio</span>
          </div>
            <label> Imagen </label>
        </div>

          <div class="username">
            <input type="text" required formControlName="description">
            <div *ngIf="LocalForm.get('description')?.hasError('required') && LocalForm.get('description')?.touched">
              <span style="color: red">Este campo es obligatorio</span>
          </div>
            <label> description </label>
        </div>

          <div class="username">
            <input type="text" required formControlName="capacity">
            <div *ngIf="LocalForm.get('capacity')?.hasError('required') && LocalForm.get('capacity')?.touched">
              <span style="color: red">Este campo es obligatorio</span>
          </div>
            <label> Capacidad</label>
        </div>

        <div class="username">
          <input type="text" required formControlName="price">
          <div *ngIf="LocalForm.get('price')?.hasError('required') && LocalForm.get('price')?.touched">
            <span style="color: red">Este campo es obligatorio</span>
        </div>
          <label> Price</label>

      </div>
      <input type="submit" value="Registrarse" (click)="saveLocal()" >
    </form>
    </div>
  </body>
</div>

