<app-navbar></app-navbar>
<body class="body">
  <main>
    <div class="title_text">
      <h3>Perfil de usuario</h3>
      <h1>Bienvenid@<span>{{clientmain.name}} {{clientmain.lastname}}</span></h1>
    </div>
    <section class="info_usuario">

      <div class="info_text">
        <div class="container">
            <mat-form-field class="example-full-width">
              <mat-label>Nombre Completo</mat-label>
              <input matInput placeholder="" [value]="clientmain.name" readonly="true">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Apellido Paterno:</mat-label>
              <input matInput placeholder="" [value]="clientmain.lastname" readonly="true">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Apellido Materno</mat-label>
              <input matInput placeholder="" [value]="clientmain.email" readonly="true">
            </mat-form-field>
        </div>
        <div class="container">
          <mat-form-field class="example-full-width">
            <mat-label>DNI</mat-label>
            <input matInput placeholder="" [value]="clientmain.numberPhone" readonly="true">
          </mat-form-field>
          <mat-form-field class="example-full-width-email">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="" [value]="clientmain.Dni" readonly="true">
          </mat-form-field>


        </div>
      </div>
    </section>
  </main>
</body>
