<nav class="navbar">
        <ul class="Client" *ngIf="type === 'ROLE_CLIENT'">
            <li><a href="">Home</a></li>
            <li><a href="/locales">Locales</a></li>
            <li><a href="/historial_client">Historial Locales</a></li>
            <li><a href="/infoUsuario">Informacion Usuario</a></li>
        </ul>

        <ul class="renter" *ngIf="type === 'ROLE_RENDER'">
          <li><a href="">Home</a></li>
          <li><a href="/locales">Locales</a></li>
          <li><a href="/historial_client">Historial Locales</a></li>
          <li><a href="/infoUsuario">Informacion Usuario</a></li>
          <li><a href="/publicar">Publicar</a></li>

      </ul>
        <ul class="Admin" *ngIf="type === 'ROLE_ADMIN'">
          <li><a href="">Home</a></li>
          <li><a href="/locales">Locales</a></li>
          <li><a href="/usuarios">Lista Usuarios</a></li>
          <li><a href="/infoUsuario">Informacion Usuario</a></li>
          <!-- Cliente render -->

      </ul>

        <ul class="Admin" *ngIf="type === ''">
          <li><a href="">Home</a></li>
          <li><a href="/locales">Locales</a></li>
          <li><a href="/usuarios">Lista Usuarios</a></li>
          <li><a href="/lista_locales">Lista Locales</a></li>
          <li> <a href="/renders">Arrendadores</a> </li>
          <li> <a href="/clients">Clientes</a> </li>

      </ul>


</nav>








