<nav class="navbar">

  <ul class="client nav" *ngIf="type === 'ROLE_CLIENT'">
    <div>
      <li><a routerLink="/locales">Locales</a></li>
      <li><a routerLink="/historial_client">Historial Locales</a></li>
      <li><a routerLink="/infoUsuario">Informacion Usuario</a></li>
      <li><a routerLink="/pagar">Historial Pago</a></li>
    </div>
    <li class="logout"><a (click)="logout()">Logout</a></li>
  </ul>

  <ul class="renter nav" *ngIf="type === 'ROLE_RENDER'">
    <div>
      <li><a routerLink="/locales">Locales</a></li>
      <li><a routerLink="/infoUsuario">Informacion Usuario</a></li>
      <li><a routerLink="/publicar">Publicar</a></li>
    </div>
    <li class="logout"><a (click)="logout()">Logout</a></li>
  </ul>

  <ul class="admin nav" *ngIf="type === 'ROLE_ADMIN'">
    <div>
      <li><a routerLink="/locales">Locales</a></li>
      <li><a routerLink="/usuarios">Lista Usuarios</a></li>
      <li><a routerLink="/infoUsuario">Informacion Usuario</a></li>
    </div>
    <li class="logout"><a (click)="logout()">Logout</a></li>
  </ul>

  <ul class="admin nav" *ngIf="type === ''">
    <div>
      <li><a routerLink="/locales">Locales</a></li>
      <li><a routerLink="/usuarios">Lista Usuarios</a></li>
      <li><a routerLink="/lista_locales">Lista Locales</a></li>
      <li> <a routerLink="/renders">Arrendadores</a> </li>
      <li> <a routerLink="/clients">Clientes</a> </li>
    </div>
    <li class="logout"><a (click)="logout()">Logout</a></li>
  </ul>

</nav>