.navbar .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    font-size: 20px;
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.logout {
    cursor: pointer;
    align-self: flex-end;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}

.navbar {
    z-index: 999;
}

.navbar a:hover {
    background-color: #266371;
}


.navbar li {
    float: left;
}