<div class="background_container">
  <div class="container">
    <div class="header">
      <div class="header__logo">
        <img src="../assets/img/Logo.png" alt="Logo de Safe Place">
      </div>
      <div class="header__menu">
        <ul>
          <li>Inicio</li>
          <li routerLink="/registro">Registrarse</li>
          <li routerLink="/inicio">Inicio Sesion</li>
          <li>Contacto</li>
        </ul>
      </div>
      <div class="header__social">
        <div class="icons">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
      </div>
      <div class="responsive_menu-icon">
        <img src="../assets/img/menu.png" alt="" (click)="toggleMenu()">
      </div>
    </div>
    <nav class="responsive_menu" *ngIf="isOpenMenu">
      <ul>
        <li>Inicio</li>
        <li><a routerLink="/registro">Registrarse</a></li>
        <li><a routerLink="/inicio">Inicio Sesion</a></li>
        <li>Contacto</li>
      </ul>
    </nav>
    <div class="main_section">
      <div class="main_section-info">
        <h1>ELIGE TU LOCAL</h1> <h1>FAVORITO AHORA</h1> 
        <p>Bienvenido a Safe Place, donde los eventos se vuelven inolvidables, ya sea una boda íntima, una fiesta vibrante o una reunión empresarial de alto nivel, estamos aquí para hacer tu evento único. Descubre nuestros espacios únicos y crea momentos especiales.</p>
        <button>SECCIÓN MENÚ</button>
      </div>
      <div class="main_section-swiper">
        <!-- Slider main container -->
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="image image1">
                <p>DIVERSION</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="image image2">
                <p>EXPERIENCIA</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="image image3">
                <p>EVENTO</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="image image4">
                <p>SENSACION</p>
              </div>
            </div>
          </div>

          <!-- If we need navigation buttons -->
        </div>
        <div class="buttons">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
</div>
