
<div class="formulario_container">
  <body>
    <div class="header__logo">
      <img src="../assets/img/Logo.png" alt="Logo de Safe Place" routerLink="">
    </div>
  <div class = "Formulario">
      <h1> AVISO DE PRIVACIDAD</h1>
      <div class="Centrartexto">
        <div class="cajatexto">
            <p>
              En Safe Place, su privacidad es nuestra prioridad. Sus datos personales son seguros con nosotros.
              Utilizamos su información solo para ayudarlo a encontrar el local perfecto y comunicarnos con usted.
              No compartimos sus datos con terceros sin su consentimiento. Puede acceder y gestionar su información en cualquier momento.
              Gracias por confiar en Safe Place.</p>
                <p>SI ESTÁ DE ACUERDO, SELECCIONE ALGUNA DE LAS OPCIONES.</p>
        </div>
        </div>
        <input type="submit" value="Continuar"  routerLink="" >

  </div>

</body>
</div>
